-# frozen_string_literal: true
.container
  = javascript_pack_tag 'food'
  = simple_form_for(@food) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    
    .form-inputs
      = f.input :name
      = f.input :description
      = f.input :price
      = f.input :photo, as: :hidden
      %label{
        :for => "photoSelect"
      }
        Tap food name and click on photo
      %input{
        :id => "photoSelect",
        :name => "photoSelect",
        :type=>"text", 
        :required => true
      }
      .foodPhotosContainer.container    

    .form-actions
      = f.button :submit, class: "btn btn-primary"
