.card
  .card-body
    .row
      .col
        %h2.card-title 
          Listing foods
      .col
        = link_to 'New Food', new_food_path, class: "btn btn-primary text-white"

    %table.table
      %thead
        %tr
          %th.col Name
          %th.col Description
          %th.col Price
          %th.col Photo
          %th.col Category
          %th.col User
          %th.col
          %th.col
          %th.col

      %tbody
        - @foods.each do |food|
          %tr
            %td{scope:"row"}= food.name
            %td= food.description
            %td= food.price
            %td= food.photo
            %td= food.category.name
            %td= food.user.name
            %td= link_to 'Show', food
            %td= link_to 'Edit', edit_food_path(food)
            %td= link_to 'Destroy', food, :method => :delete, :data => { :confirm => 'Are you sure?' }


